<h1>Edit An Existing Picture</h1>

<%= form_tag(post_url(@picture.id), method: "patch") do %>
  <p>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @picture.caption %>
  </p>
  <p>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @picture.source %>
  </p>
  <p>
    <%= submit_tag "Update Picture" %>
  </p>
<% end %>
