<div class="row">
  <h1 class="text-center">
    All the Pictures
  </h1>
</div>

<div class="row">
  <h3 class="text-center">
    <%= link_to "Add a new picture", new_picture_url %>
  </h3>
</div>

<% @all_pictures.each do |picture| %>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 well text-center">
      <p><img width =150 src="<%= picture.source %>"></p>
      <p><%= picture.caption %></p>
      <p>
        <%= link_to "Show", picture_url(picture.id) %> |
        <%= link_to "Edit", edit_picture_url(picture.id) %> |
        <%= link_to "Delete", picture_url(picture.id), method: "delete" %>
      </p>
    </div>
    <div class="col-sm-4"></div>
  </div>
<% end %>

