<div class="row">
  <h1 class="text-center">
    All the Pictures
  </h1>
</div>

<div class="row">
  <h3 class="text-center">
    <%= link_to "Add a new picture", new_post_url, :class => "btn btn-primary" %>
  </h3>
</div>

<% @all_pictures.each do |picture| %>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 well text-center">
      <p><%= image_tag(picture.source, :width => 150) %></p>
      <p><%= picture.caption %></p>
      <p>
        <%= link_to "Show", post_url(picture.id), :class => "btn btn-xs btn-primary" %> |
        <%= link_to "Edit", edit_post_url(picture.id), :class => "btn btn-xs btn-primary" %> |
        <%= link_to "Delete", post_url(picture.id), :class => "btn btn-xs btn-danger", method: "delete" %>
      </p>
    </div>
    <div class="col-sm-4"></div>
  </div>
<% end %>

