<h1>Add A New Picture</h1>

<%= form_tag(posts_url, method: "post") do %>
  <p>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption %>
  </p>
  <p>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source %>
  </p>
  <p>
    <%= submit_tag "Create Picture" %>
  </p>
<% end %>
