<!DOCTYPE html>
<html>
<head>
  <title>Rxngif</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row text-center">
    <h2><%= notice %></h2>
  </div>
  <%= yield %>
</div>

</body>
</html>
